[Unit]
Description=Spatial EdgeAV RK3576 local health check
After=spatial-edgeav-rknn.service

[Service]
Type=oneshot
User=kickpi
Group=kickpi
WorkingDirectory=/home/kickpi/spatial-edgeav/bin
ExecStart=/usr/bin/python3 /home/kickpi/spatial-edgeav/bin/rk3576_service_health_local.py
StandardOutput=journal
StandardError=journal
